/* styles for login page */

.login-container {
    width: 100%;
    height: 100dvh;
    align-content: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 5vw;
    width: 35%;
    height: 45%;
    border: 1px solid var(--border-glass-color);
    border-radius: 12px;
    background-color: var(--glass-color);
}

.login-container form button {
    background-color: var(--green-color);
}